{% if c.request.getQueryParams()|length > 0 %}
    {% set noIndex = true %}
{% endif %}

{% set pageUrl = c.request.getUri().getBaseUrl() ~ c.request.getUri().getPath() %}
{% set pageImage = c.request.getUri().getBaseUrl() ~ '/img/icon-200x200.png' %}

{% set siteHost = 'My cool site' %}
{% set siteName = 'Site' %}
{% set siteHost = c.request.getUri().getHost() %}

<!DOCTYPE html>
<html lang="de" itemscope="itemscope" itemtype="http://schema.org/WebPage">
    <head>
        {% block headPrepend %}
        {% endblock headPrepend %}

        {% block head %}
            <link rel="dns-prefetch" href="//cdn.dhm80.de" crossorigin />
            <link rel="preconnect" href="//cdn.dhm80.de" crossorigin />

            <base target="_top" />

            <title itemprop="name">{% block titlePrepend %}{% endblock titlePrepend %}{% block title %}Willkommen{% endblock title %}{% block titleAppend %} | {{ siteName }}{% endblock titleAppend %}</title>

            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
            <meta name="robots" content="{{ noIndex ? 'no' }}index, follow" />

            <meta name="description" lang="de" content="{% block description %}{{ siteSlogan }}{% endblock %}" />

            <meta name="author" content="" />
            <meta name="rating" content="general" />

            <meta itemprop="isFamilyFriendly" content="True" />

            <meta property="og:locale" content="de_DE" />
            <meta property="og:type" content="website" />
            <meta property="og:site_name" content="{{ siteHost }}" />
            <meta property="og:title" content="{% block titleOpenGraph %}{{ block('title') }}{% endblock %}" />
            <meta property="og:description" content="{% block descriptionOpenGraph %}{{ block('description') }}{% endblock %}" />
            <meta property="og:url" content="{{ pageUrl }}" />
            <meta property="og:image" itemprop="image" content="{{ pageImage }}" />

            <meta name="twitter:card" content="summary" />
            <meta name="twitter:title" content="{% block titleTwitter %}{{ block('title') }}{% endblock %}" />
            <meta name="twitter:description" content="{% block descriptionTwitter %}{{ block('description') }}{% endblock %}" />
            <meta name="twitter:image" itemprop="thumbnailUrl" content="{{ pageImage }}" />

            <link rel="shortcut icon" href="/favicon.ico" />
            <link rel="apple-touch-icon" href="/apple-touch-icon-precomposed.png" />
            <link rel="manifest" href="/manifest.json" />

            {% block stylePrepend %}
            {% endblock stylePrepend %}

            {% block style %}
                <link rel="stylesheet" href='//cdn.dhm80.de/font/open-sans/font.css'>
                <link rel="stylesheet" href="//cdn.dhm80.de/plugin/bootstrap/dist/css/bootstrap.css" />
                <link rel="stylesheet" href="/css/base.css" />
            {% endblock style %}

            {% block styleAppend %}
            {% endblock styleAppend %}
        {% endblock head %}

        {% block headAppend %}
        {% endblock headAppend %}
    </head>

    <body>
        {% block bodyPrepend %}
        {% endblock bodyPrepend %}

        {% block body %}
            {% block contentPrepend %}
            {% endblock contentPrepend %}

            {% block content %}
            {% endblock content %}

            {% block contentAppend %}
            {% endblock contentAppend %}

            {% block footerPrepend %}
            {% endblock footerPrepend %}

            {% block footer %}
                <div class="container">
                    &copy;<span itemprop="copyrightYear">{{ "now"|date("Y") }}</span> <span itemprop="copyrightHolder">{{ siteHost }}</span>
                </div>
            {% endblock footer %}

            {% block footerAppend %}
            {% endblock footerAppend %}

            {% block scriptPrepend %}
            {% endblock scriptPrepend %}

            {% block script %}
                <script src="/js/base.js"></script>
            {% endblock script %}

            {% block scriptAppend %}
            {% endblock scriptAppend %}
        {% endblock body %}

        {% block bodyAppend %}
        {% endblock bodyAppend %}
    </body>
</html>
