{% if request.getQueryParams()|length > 0 %}
    {% set noIndex = true %}
{% endif %}

{% set pageUrl = request.getUri().getBaseUrl() ~ request.getUri().getPath() %}
{% set pageImage = request.getUri().getBaseUrl() ~ '/img/icon-200x200.png' %}

{% set siteHost = 'My cool site' %}
{% set siteName = 'Site' %}
{% set siteHost = request.getUri().getHost() %}
{% set siteYear = 2017 %}

{% set isDevZone = constant('ENVIRONMENT') == constant('ENVIRONMENT_DEVELOP') %}
{% set timestamp = 'now'|date('U') %}
{% set version = 0.0.1 %}
{% set year = 'now'|date('Y') %}

<!DOCTYPE html>
<html lang="de" itemscope="itemscope" itemtype="http://schema.org/WebPage">
    <head>
        {% block headPrepend %}
        {% endblock headPrepend %}

        {% block head %}
            <link rel="dns-prefetch" href="//cdn.dhm80.de" crossorigin />
            <link rel="preconnect" href="//cdn.dhm80.de" crossorigin />

            <base target="_top" />

            <title>{% block titlePrepend %}{% endblock titlePrepend %}{% block title %}Willkommen{% endblock title %}{% block titleAppend %} | {{ siteName }}{% endblock titleAppend %}</title>

            <meta charset="utf-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
            <meta name="robots" content="{{ noIndex ? 'no' }}index, follow" />

            <meta name="description" lang="de" content="{% block description %}{{ siteSlogan }}{% endblock %}" />

            <meta itemprop="name" content="{{ block('title') }}" />
            <meta itemprop="image thumbnailUrl" content="{{ pageImage }}" />
            <meta itemprop="isFamilyFriendly" content="True" />

            <meta property="og:locale" content="de_DE" />
            <meta property="og:type" content="website" />
            <meta property="og:site_name" content="{{ siteHost }}" />
            <meta property="og:title" content="{% block titleOpenGraph %}{{ block('title') }}{% endblock %}" />
            <meta property="og:description" content="{% block descriptionOpenGraph %}{{ block('description') }}{% endblock %}" />
            <meta property="og:url" content="{{ pageUrl }}" />
            <meta property="og:image" content="{{ pageImage }}" />

            <meta name="twitter:card" content="summary" />
            <meta name="twitter:title" content="{% block titleTwitter %}{{ block('title') }}{% endblock %}" />
            <meta name="twitter:description" content="{% block descriptionTwitter %}{{ block('description') }}{% endblock %}" />
            <meta name="twitter:image" content="{{ pageImage }}" />

            <link rel="shortcut icon" href="/favicon.ico" />
            <link rel="apple-touch-icon" href="/apple-touch-icon-precomposed.png" />
            <link rel="manifest" href="/manifest.json" />

            {% block stylePrepend %}
            {% endblock stylePrepend %}

            {% block style %}
                <link rel="stylesheet" href="//cdn.dhm80.de/font/open-sans/font.css" />
                <link rel="stylesheet" href="//cdn.dhm80.de/plugin/bootstrap/dist/css/bootstrap.css" />
                <link rel="stylesheet" href="/css/base.css?{{ isDevZone ? timestamp : version }}" />
            {% endblock style %}

            {% block styleAppend %}
            {% endblock styleAppend %}
        {% endblock head %}

        {% block headAppend %}
        {% endblock headAppend %}
    </head>

    <body>
        {% block bodyPrepend %}
        {% endblock bodyPrepend %}

        {% block body %}
            {% block contentPrepend %}
            {% endblock contentPrepend %}

            <div class="container">
                {% block content %}
                {% endblock content %}
            </div>

            {% block contentAppend %}
            {% endblock contentAppend %}

            {% block footerPrepend %}
            {% endblock footerPrepend %}

            {% block footer %}
                <div class="container">
                    &copy;
                    {% if siteYear < year %}{{ siteYear }} &ndash;{% endif %}
                    <span itemprop="copyrightYear">{{ year }}</span>
                    <span itemprop="copyrightHolder creator publisher" itemscope itemtype="http://schema.org/Organization">
                        <span itemprop="name">{{ siteHost }}</span>
                    </span>
                    <span itemprop="author" itemscope itemtype="http://schema.org/Person">
                        <meta itemprop="name" content="" />
                    </span>
                </div>
            {% endblock footer %}

            {% block footerAppend %}
            {% endblock footerAppend %}

            {% block scriptPrepend %}
            {% endblock scriptPrepend %}

            {% block script %}
                <script src="/js/base.js"></script>
            {% endblock script %}

            {% block scriptAppend %}
            {% endblock scriptAppend %}
        {% endblock body %}

        {% block bodyAppend %}
        {% endblock bodyAppend %}
    </body>
</html>
